.container {
  max-width: 1020px;
  margin: 50px auto;
}

.container h1 {
  display: table;
  margin: 15px auto;
  font-size: 20px;
}

.container table {
  display: table;
  margin: 0 auto;
}

.container thead tr th {
  font-size: large;
  padding: 10px;
}

.container th {
  min-width: 150px;
  padding: 5px;
}

.container th button {
  padding: 0.3em;
  border-radius: 5px;
}

.container th button:first-of-type {
  margin-right: 10px;
}
